:root {
    --primary: #111;
    --text-primary: #fff;
    --font-sans: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
    --scrollbar-width: 10px;
}